body {
  color: #434455;
  background-color: var(--main-white);
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentcolor;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3 {
  color: var(--accent-color);
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}
